#card-container {
  max-width: 700px;
  margin: 50px auto 0;
  padding: 0 20px;
}

.Card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
